body {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: lightgrey;
}

#temporizador {
    color: red;
    font-family: sans-serif;
    font-size: 80pt;
}